.dropdownAPropos {
    width: 80%;
    margin: auto;

    @media only screen and (max-width : 700px) {
        width: 90%;
    }

    &__dropdown {
        margin: 33px auto;
        background-color: $gray;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 400;
        @media only screen and (max-width : 700px) {
            margin: 20px auto;
        }

    }
}