* {
    margin: 0;
    padding: 0;
    color: $red;
    font-weight: 500;
    font-family: "Montserrat";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contentWrap{
    flex: 1;
}